# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Python
- Jupyter notebook
- Anaconda
- Rstudio
- IBM Watson
- Google Colab and Kaggle (I like them!)

Some of the popular languages that Data Scientists use are:
- R
- Python
- Julia

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- SciPy
- Pandas
- Matplotlib

|Data Science Tools|
|------------------|
|Jupyter notebook  |
|Rstudio        |
|IBM Watson      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Andy Chen